

.header {
    position: relative;
    display: flex;
    padding: 0.5em 0;

    &__wrapper {
        //position: fixed;
        //top: 0;
        //left: 0;
        width: 100%;
        //z-index: 10;
        background-color: #a1b9af;
    }

    &__logo {
        border-radius: 50%;
        background-color: #FFF;
        position: relative;
        z-index: 5;
        width: 40px;
        height: 40px;
    }

    &__title {
        font-size: 25px;
        font-weight: 400;
        padding: 10px 30px;


    }
}


