$main-color: #6b7280;
$attention-color: #a1b9af;


html,
body {
    height: 100%;
    font-family: 'Lato', sans-serif;
    min-width: 1600px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import "menu.scss";
@import "header.scss";
@import "news.scss";
@import "one.scss";

.title {
    &__h1 {
        font-size: 28px;
        margin-bottom: 20px;
    }

    &__h2 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    &__h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.wrap {
    height: calc(100vh - 20px);
}

.footer {
    height: 20px;
    background-color: $attention-color;
}

.text {
    color: $main-color;
    font-size: 18px;
}

.menu-admin {
    width: 30%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}


